MS_TEAM_GROUP_NAME=
ADDITIONAL_MS_TEAM_GROUP_NAME=
MAX_CHAT_SCROLL_UP=5
COMPANY=TMA Solutions
CLIENT=
PROJECT=
START_SPRINT=0
START_WEEK=1
PROJECT_START_DATE=
NUMBER_OF_WEEKS_PER_SPRINT=2
ZIMBRA_URL=https://webmail.tma.com.vn
FROM_NAME=Khiem Nguyen Thanh
EMAIL_USER=ntkhiem@tma.com.vn
EMAIL_PASS=
TO_RECIPIENTS=
CC_RECIPIENTS=
KAKAO_TALK_GROUP_NAME=
#CLAUDE / GEMINI
AI_ENGINE=CLAUDE